


<!-- <h1>Upcoming sessions</h1>
<p>Next session: {{event_date}}</p> -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{%block Daniel %}CoderDojo{% endblock %}</title>
    </head>
    <body>
        <header>
            <nav>
                <a href="{{url_for('home')}}">Home</a>
                <a href="{{url_for('base')}}">Base</a>
                <a href="{{url_for('event')}}">Events</a><br>
            </nav>
        </header>
        <main>
            {%block CR7 %}{% endblock %}
        </main>
    </body>
</html>

